@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,700");
html, body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 4em;
}

body {
  background-color: white;
}

@-webkit-keyframes pulse {
  0% {
    background-color: #e62149;
  }
  100% {
    background-color: black;
  }
}

@keyframes pulse {
  0% {
    background-color: #e62149;
  }
  100% {
    background-color: black;
  }
}

.upload {
  background-image: url("https://media.giphy.com/media/TKNAEfavYhmOQ/giphy.gif");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload h1 {
  color: white;
}

.upload form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload form input {
  width: 76vw;
  padding: 2em;
  font-size: 1em;
  color: black;
  text-align: center;
  border-radius: 16px;
  border: none;
}

.upload form button {
  border: none;
  width: 198px;
  height: 55px;
  background-color: black;
  color: white;
  border-radius: 4px;
  margin: 2.5em 1em 2.5em 1em;
  font-size: 2em;
  font-weight: bold;
}

.upload form button:hover {
  -webkit-animation: pulse 2s 1;
          animation: pulse 2s 1;
}

.landing-page {
  background-image: url("https://avatars.mds.yandex.net/get-pdb/754739/1d4d4cd2-23c1-4e5f-94f1-e9dba6cb61d7/orig");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  color: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page h1 {
  font-size: 6em;
  margin: 0;
}

.explore {
  font-size: 1.5em;
  color: white;
  margin-top: 1em;
  border: 2px solid white;
  text-decoration: none;
  padding: 0em 1em;
}

.explore:hover {
  -webkit-animation: pulse 2s 1;
          animation: pulse 2s 1;
}

.intro {
  height: 60vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* flex-direction: column; */
}

.intro .spotify {
  width: 12em;
  border-left: 4px solid black;
  padding-left: 7em;
}

.intro .microsoft {
  width: 12em;
  padding-right: 7em;
}

.intro img {
  padding: 1em;
}

.how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  background-image: url("https://avatars.mds.yandex.net/get-pdb/754739/62cb13ec-c0af-4b71-931f-32b3ad4bcf68/orig");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.how h2 {
  margin-top: -1em;
}

.howafter {
  height: 60vh;
}

.howafter img {
  width: 50%;
  height: 100%;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player .overplay {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 6em;
}

.player .overplay .playbutton {
  position: absolute;
  width: 29%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.player .overplay .mainimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
  margin-bottom: 2em;
}

.player .overplay .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.player .playpage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

.player .playpage iframe {
  width: 48vw;
}

.player .playpage h1 {
  text-align: center;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video .leftside {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transition: background-color 1.4s;
  transition: background-color 1.4s;
}

.video .leftside:hover {
  background-color: #2E3C36;
}

.video .leftside .linkvideo {
  text-decoration: none;
}

.video .leftside .left {
  border: 9px solid black;
  padding: 0.5em;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: color 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  position: relative;
  font-size: 32px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  line-height: 1.1;
  padding: 18px;
  z-index: 1;
}

.video .leftside .left:hover {
  color: white;
  border: 9px solid white;
}

.video .rightside {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transition: background-color 1.4s;
  transition: background-color 1.4s;
}

.video .rightside:hover {
  background-color: #c02e4c;
}

.video .rightside .linkupload {
  text-decoration: none;
}

.video .rightside .right {
  border: 9px solid black;
  padding: 0.5em;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: color 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  position: relative;
  font-size: 32px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  line-height: 1.1;
  padding: 18px;
  z-index: 1;
}

.video .rightside .right:hover {
  color: white;
  border: 9px solid white;
}

.footer {
  background-image: url("http://anchor.themeshop.co/wp-content/uploads/2018/11/hero1.jpg");
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer h1 {
  text-align: center;
  font-size: 2em;
  color: white;
}
/*# sourceMappingURL=App.css.map */